@mixin responsive {
    @media (max-width:1500px) {
        @content;
    }
}
@mixin laptop {
    @media (max-width:1200px) {
        @content;
    }
}
@mixin laptop-small {
    @media (max-width:1040px) {
        @content;
    }
}
@mixin laptop-sm {
    @media (max-width:992px) {
        @content;
    }
}
@mixin tablet {
    @media (max-width:779px) {
        @content;
    }
}
@mixin phone {
    @media (max-width:480px) {
        @content;
    }
}

$oranges: #ff7436;
$greys: #e5e5e5;
$blacks: #4d4d4d;