.block {
    &__row {
        height: 280px;
        display: flex;
        justify-content: space-between;
        @include tablet() {
            flex-direction: column;
            height: auto;
        }
        &_2 {
            @include tablet() {
                flex-wrap: wrap-reverse;
                flex-direction: row;
            }
        }
    }
    &__pic {
        width: 75%;
        @include tablet() {
            width: 100%;
            margin-bottom: 30px;
        }
        &_2 {
            width: 82.5%;
            background: url(../images/background/background_2.png);
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;
            @include tablet() {
                width: 100%;
                margin-bottom: 30px;
            }
            @include phone() {
                height: 280px;
            }
        }
        &-link {
            display: block;
            width: 100%;
            text-align: end;
            background: url(../images/background/background_1.png);
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            overflow: hidden;
            &:hover {
                .block__layer {
                    transform: scale(1.2);
                }
            }
            @include phone() {
                height: 280px;
            }
            &-3 {
                background: url(../images/background/background_3.png);
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
    &__layer {
        width: 72%;
        margin-top: -80px;
        margin-right: -115px;
        transition: .8s;
        @include phone() {
            width: 200%;
            margin-left: -100px;
            margin-top: -80px;
        }
        &-2 {
            width: 75%;
            margin-top: -30px;
            margin-left: -35%;
            @include phone() {
                width: 150%;
                margin-top: -100px;
                margin-left: -84%;
                height: 130%;
            }
        }
        &-3 {
            width: 50%;
            margin-top: -55px;
            margin-right: 55px;
            @include phone() {
                width: 120%;
                margin-top: -60px;
                margin-right: -40px;
            }
        }
    }
    &__desc {
        width: 22.5%;
        @include tablet() {
            width: 90%;
            margin: 0 auto;
        }
        &_2 {
            @include tablet() {
                width: 90%;
                margin: 0 auto;
            }

        }
        &-item {
            margin-bottom: 20px;
            position: relative;
            &:before {
                content: "";
                display: block;
                background: $oranges;
                height: 6px;
                width: 6px;
                border-radius: 50%;
                position: absolute;
                left: -12px;
                top: 5px;
            }
            @include laptop-sm() {
                margin-bottom: 15px;
            }
        }
    }
}