.filter {
    display: flex;
    @include laptop-small() {
        justify-content: center;
        position: relative;
        flex-wrap: wrap;
    }
    @include phone() {
        justify-content: start;
        margin-left: 10px;
    }
    &__col {
        margin-right: 50px;
        &:last-child {
            margin-right: 0;
        }
        @include laptop() {
            margin-right: 40px;
        }
        @include laptop-small() {
            width: 140px;
            margin-right: 10px;
        }
    }
    &__title {
        font-size: 14px;
        line-height: 30px;
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
        @include laptop-small() {
            justify-content: space-between;
            align-items: center;
            color: $blacks;
            background: $greys;
            border-radius: 5px;
            cursor: pointer;
            font-weight: 400;
            width: 120px;
            margin-bottom: 10px;
            &:hover {
                background: #ffb290;
            }
        }
        &-link {
            color: $blacks;
            display: block;
            padding-left: 5px;
            margin-right: 4px;
            @include laptop-small() {
                flex: 1;
                margin-right: 0;
            }
        }
        &_active {
            @include laptop-small() {
                background: $oranges;
                &:hover {
                    background: $oranges;
                }
                .filter__title-link {
                    color: white;
                }
                .filter__icon {
                    transform: rotate(180deg);
                    fill: white;
                    &:hover {
                        fill: white;
                    }
                }
            }
        }
        &_remove {
            .filter__icon_remove {
                display: block;
                padding-left: 3px;
            }
            .filter__icon_arrow {
                display: none;
            }
        }

    }
    &__icon {
        display: none;
        fill: $oranges;
        height: 30px;
        width: 16px;
        padding-right: 5px;
        &_arrow {
            @include laptop-small() {
                display: block;
                padding-left: 3px;
            }
        }
        &_remove {
            fill: $blacks;
            cursor: pointer;
            @include laptop-small() {
                fill: $oranges;
                &:hover {
                    fill:$oranges;
                }
            }
            &_active {
                display: block;
                padding-left: 3px;
            }
        }
    }
    &__remove {
        display: none;
        fill: white;
        height: 14px;
        width: 14px;
        &_active {
            display: block;
        }
    }
    &__list {
        &_format {
            display: flex;
        }
        @include laptop-small() {
            display: none;
            justify-content: space-between;
            flex-direction: column;
            height: 90px;
            flex-wrap: wrap;
            position: absolute;
            left: 3%;
            top: 40%;
            width: 75%;
            @include phone() {
                left: 0;
                height: 170px;
                justify-content: start;
            }
        }
        &_active {
            @include laptop-small() {
                display: flex;
            }
        }
    }
    &__item {
        line-height: 18px;
        cursor: pointer;
        text-decoration: underline;
        border-radius: 7px;
        padding: 5px 15px;
        margin-left: -15px;
        position: relative;
        &:hover {
            background: $greys;
            color: $oranges;
        }
        @include laptop-small() {
            width: 120px;
            margin: 10px 10px 5px 0;
            padding: 5px 10px;
        }
        &_format {
            line-height: 18px;
            border-radius: 7px;
            padding: 5px 15px;
            position: relative;
            background: $greys;
            text-decoration: none;
            margin-right: 5px;
            margin-left: 0;
            cursor: initial;
            user-select: none;
            &:hover {
                background: #ffb290;
                color: #4d4d4d
            }
            @include laptop-small() {
                width: 120px;
                margin: 10px 10px 5px 0;
                padding: 5px 10px;
            }
        }
        &_active {
            background: $oranges;
            color: white;
            margin-bottom: 5px;
            &:hover {
                background: $oranges;
                color: white;
            }
            &::before {
                content: "";
                display: block;
                background: white;
                height: 5px;
                width: 5px;
                border-radius: 50%;
                position: absolute;
                left: 5px;
                top: 50%;
                transform: translateY(-50%);
            }
            @include laptop-small() {
                margin-left: 0;
            }
        }
    }
}
.empty {
    display: none;
    height: 90px;
    width: 100%;
    @include phone() {
        height: 200px;
    }
    &_active {
        @include laptop-small() {
            display: block;
        }
    }
}
.del {
    opacity: 0.6;
    pointer-events: none;
}