.header {
    height: 100px;
    display: flex;
    box-shadow: 0px 0px 30px rgba(0, 0, 0,.4);
    margin-bottom: 50px;
    &__logo {
        height: 100%;
        max-width: 375px;
        display: flex;
        align-items: center;
        background: white;
        @include laptop() {
            width: 24%;
        }
        @include laptop-sm() {
            display: none;
        }
        &-link {
            display: block;
            padding: 25px 20px 25px 40px;
            width: 315px;
            @include laptop() {
                width: calc(100% - 40px);
                padding: 25px 20px;
            }
        }
        &-pic {
            width: 100%;
        }
    }
    &__up {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $greys;
    }
    &__lang {
        display: flex;
        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 44px;
            &:hover {
                background: #ffb290;
            }
            @include laptop-sm() {
                width: 50px;
            }
            &_active {
                background: $oranges;
                &:hover {
                    background: $oranges;
                }
            }
        }
        &-pic {
            width: 24px;
            @include laptop-sm() {
                width: 30px;
            }
        }
    }
    &__dealer {
        display: flex;
        padding-right: 40px;
        @include laptop() {
            padding-right: 20px;
        }
        @include phone() {
            padding-right: 5px;
        }
        &-link {
            margin-right: 15px;
            text-decoration: underline;
            color: #673333;
            @include phone() {
                font-size: 13px;
                margin-right: 10px;
            }
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                color: $oranges;
            }
        }
    }
    &__main {
        flex: 1;
        overflow: hidden;
        @include laptop-sm() {
            overflow: initial;
        }
    }
    &__down {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $oranges;
        font-size: 16px;
        overflow: hidden;
        position: relative;
        @include laptop-sm() {
            display: none;
        }
    }
    &__nav {
        display: flex;
        height: 100%;
        margin-right: 20px;
        min-width: 750px;
        
        &-item {
            display: flex;
            align-items: center;
        }
        &-link  {
            color: white;
            opacity: .8;
            padding: 22px 10px;
            &:hover {
                background: #f34f18;
                opacity: 1;
            }
            &_active {
                background: #f34f18;
                opacity: 1;
            }
        }
    }
    &__search {
        margin-right: 45px;
        flex: 1;
    }
    &__form {
        position: relative;
        @include laptop() {
            display: none;
        }
        &_1200 {
            display: none;
            &_active {
                display: block;
                box-sizing: content-box;
                padding: 15px;
                width: 225px;
                background: #f34f18;
                position: absolute;
                top: 0;
                right: 5px;
                z-index: 1;
            }
        }
    }
    &__input {
        height: 30px;
        padding: 10px;
        padding-right: 30px;
        box-sizing: border-box;
        font-size: 14px;
        width: 100%;
    }
    &__btn {
        display: block;
        height: 20px;
        width: 20px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        padding: 10px;
        &:hover {
            .header__btn-icon {
                fill: black;
            }
        }
        &_1200 {
            right: 14px;
        }
        &_show {
            right: 40px;
            display: none;
            &:hover {
                .header__btn-icon_show {
                    fill: white;
                    opacity: 1;
                }
            }
            @include laptop() {
                display: block;
                right: 30px;
                padding: 0;
            }
        }
        &-icon {
            height: 100%;
            width: 100%;
            fill: $oranges;
            &_show {
                fill: white;
                opacity: 0.8;
            }
        }
    }
}
.fixed {
    position: fixed;
    top: -40px;
    left: 0;
    right: 0;
    z-index: 1000;
    .header__logo {
        align-items: flex-end;
    }
    .header__logo-link {
        padding: 25px 20px 0;
    }
}