.header {
    &__tablet {
        display: flex;
        height: 60px;
        position: relative;
    }
    &__logomob {
        flex: 1;
        background: white;
        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
        &-pic {
            width: 220px;
        }
    }
    &__searchmob {
        height: 100%;
        width: 60px;
        background: $oranges;
        @include phone() {
            display: none;
        }
    }
    &__btnmob, &__btnmobile {
        display: block;
        height: 35px;
        width: 35px;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        &:hover {
            .header__btn-icon {
                fill: black;
            }
        }
        &-show {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background: #f34f18;
            }
        }
        &-icon {
            height: 100%;
            width: 100%;
            fill: $oranges;
            &:hover {
                fill: $blacks;
            }
            &-show {
                height: 35px;
                width: 35px;
                fill: white;
            }
        }
    }
    &__formmob, &__formmobile {
        display: none;
        box-sizing: border-box;
        padding: 10px;
        width: calc(100% - 180px);
        background: #f34f18;
        position: absolute;
        right: 60px;
        z-index: 1;
        &_active {
            display: block;
        }
    }
    &__inputmob, &__inputmobile {
        height: 40px;
        padding: 10px;
        padding-right: 30px;
        box-sizing: border-box;
        font-size: 14px;
        width: 100%;
    }
}
.header__formmobile {
    width: 100vw;
    right: 0;
    &_active {
        @include laptop() {
            display: none;
        }
        @include phone() {
            display: block;
        }
    }
}