.navl {
    &__btn {
        width: 120px;
        height: 100%;
        background: $oranges;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
            background: #f34f18;
        }
        @include phone() {
            display: none;
        }
        &_active {
            background: #f34f18;
            .navl__icon {
                transform: rotate(180deg);
            }
        }
    }
    &__icon {
        transition: .5s;
        height: 15px;
        width: 15px;
        fill: white;
        margin-right: 10px;
    }
    &__desc {
        color: rgba(0, 0, 0, .4);
        display: block;
        margin-right: 360px;
        padding-left: 2px;
        @include tablet() {
            margin-right: 60px;
        }
        @include phone() {
            margin-right: 0;
            font-size: 13px;
        }
    }
}