.header__navr {
    position: relative;
}
.navr, .navl {
    &__burger {
        height: 100%;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $oranges;
        cursor: pointer;
        &:hover {
            background: #f34f18;
        }
        &-link {
            width: 33px;
            height: 4px;
            background-color: white;
            position: relative;
            &::before {
                content: "";
                display: block;
                width: 33px;
                height: 4px;
                background-color: white;
                position: absolute;
                top: -10px;
                transition: 0.5s;
            }
            &::after {
                content: "";
                display: block;
                width: 33px;
                height: 4px;
                background-color: white;
                position: absolute;
                top: 10px;
                transition: 0.5s;
            }
        }
    }
    &__list {
        display: none;
        width: 100vw;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 100;
        &_active {
            display: block;
        }
    }
    &__item {
        box-sizing: border-box;
        padding: 0 20px 0 40px;
        background: $greys;
        height: 50px;
        width:100%;
        &:hover {
            background: $oranges;
            .navr__link {
                color: white;
            }
            .navl__link {
                color: white;
            }
            .navr__link-icon {
                fill: white;
            }
            .navl__link-icon {
                fill: white;
            }
            .navr__arrow-enter {
                fill: white;
            }
            .navl__arrow-enter {
                fill: white;
            }
            .navl__desc {
                color: white;
            }
        }
    }
    &__link {
        font-size: 16px;
        color: $blacks;
        height: 100%;
        width: calc(100% - 30px);
        padding-left: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        box-sizing: border-box;
        &-icon {
            position: absolute;
            left: 35px;
            height: 30px;
            width: 30px;
            fill: $oranges;
        }
    }
    &__arrow-enter {
        height: 15px;
        width: 15px;
        transform: rotate(-90deg);
    }
}
.navr__burger_active {
    background: #f34f18;
    .navr__burger-link {
        background: transparent;
    }
    .navr__burger-link::before {
        top: 0;
        transform: rotate(45deg);
    }
    .navr__burger-link::after {
        top: 0;
        transform: rotate(-45deg);
    }
}
.navr__list_active {
    @include phone() {
        top: calc(100% + 60px);
    }
}