.slider {
    position: relative;
    height: 360px;
    &__list {
        display: flex;
        width: 2520px;
        position: absolute;
        left: 0;
        top: 60px;
        transition: .8s;
        @include laptop() {
            width: 2280px;
        }
    }
    &__item {
        height: 265px;
        width: 255px;
        margin: 15px;
        padding: 15px;
        background: $greys;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        &:first-child {
            margin-left: 0;
            @include tablet() {
                margin-left: 15px;
            }
        }
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            .slider__pic {
                transform: scale(1.2);
            }
        }
        @include responsive() {
            width: 240px;
        }
        @include laptop() {
            width: calc(23vw - 45px);
        }
        @include laptop-small() {
            min-width: calc(33vw - 60px);
            height: 250px;
        }
        @include tablet() {
            min-width: calc(50vw - 60px);
        }
        @include phone() {
            min-width: calc(98vw - 60px);
        }
    }
    &__pic {
        width: 90%;
        margin: auto;
        transition: .8s;
        filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.4));
        @include tablet() {
            width: 60%;
            height: 190px;
            margin-bottom: 20px;
        }
    }
    &__desc {
        user-select: none;
    }
    &__btn {
        height: 35px;
        width: 50px;
        position: absolute;
        padding: 0;
        border: none;
        outline:none;
        background: transparent;
        cursor: pointer;
        &:hover {
            .slider__icon {
                opacity: 1;
            }
        }
        &_next {
            right: 0;
            top: 50%;
            transform: rotate(-90deg);
        }
        &_prev {
            left: 0;
            top: 50%;
            transform: rotate(90deg);
        }
    }
    &__icon {
        height: 100%;
        width: 100%;
        fill: white;
        opacity: .6;        
    }
}